html, body {
  font-family: arial;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 97%;
  position: relative;
  background-image: url('./home/resources/m2.JPG') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
    display: none;
}


img {
  height: 100%;
  width: 100%;
}

#bg {
  margin: auto;
  overflow: auto;
}

#bg3D {
  background-color: rgba(211, 211, 211, 0.8);
  padding-top:50px;
  padding-bottom:30px;
  margin: 0px;
  overflow: auto;
}

.homeText{
  font-size: 20px;
  padding: 0;
  overflow: auto;
}

.scroll{
  overflow-y:auto;
}

.nav1 {
  position: relative;
}

#logoHead{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

p {
  font-size: 18px;
  text-align: justify;
}

#legendDiv{
  padding-left: 80px;
  padding-top: 40px;
  box-sizing: border-box;
  display: none;
}

#legend{
  border-radius: 5px;
  border: 1px solid black;
  border-spacing: 15px;
  background-color: white;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

#legendImage{
  height: auto;
  max-width: 100%;
  min-width: 100%;

}

.legendText{
  font-size: 15px;
}

/* CSS for Control Layers icons in LEAFLET*/
.leaflet-control-container {
display: block;
}
.leaflet-control-zoom {
left: 5px;

}
.leaflet-control-layers {
left: 5px;
}


.hero-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.8);
  color: black;
  right: 5%;
  left: 5%;
  width: 87%;
  height: 97%;
  padding: 80px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.nav-tabs {
  position: absolute;
  bottom: 0;
  left: 96px;
}

.copyright {
  padding-bottom: 0px;
  color: #fff;
  font-size: 15px;
  display: block;
}

/* .col-md-3-5 {
  width: 33.3%
} */

.design {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}

/* .container {
  padding: fixed;
  padding: 60px 15px 0
} */

#teamDiv{
  padding-top: 50px;
  padding-bottom: 50px;
}


.cloak {
  display: none;
}

footer{
  margin:0;
}

.centerBlock {
  display: table;
  margin: auto;
}

main {
  width: 100%;
  margin: 30px auto;
  border-radius: 10px;
  color: #333;
}

#map {
  width: 100%;
  height: 88%;
  position: fixed;
  top: 50px;
  bottom: 50px;
}


#process_input {
  background-color: #476855;
  display: block;
  color: white;
  position: absolute;
  bottom: 70%;
  left: 0.5%;
  border: 2px solid #becec9;
  border-radius: 0.4rem;
}

/*Styling the authentication form begins*/

#loginBox {
  border-radius: 5px;
  width: inherit;
  margin: auto;
  background-color: rgba(211, 211, 211, 0.8);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  color: blue;
  font-size: 44px;
  text-align: center;
}

.form-group {
  margin: 0 auto;
  align: center;
  width: 20rem;
}

.form-actions {
  margin: 0 585px;
  align: center;
}

.login_body {
  background-color: #bda8bd;
}

/*Styling the authentication-form ends */

h1, h2, h3 {
  margin: 0;
}

.process {
  font-size: 40px;
}

.process span {
  font-size: 50px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.process span:nth-child(2) {
  animation-delay: .2s;
}

.process span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  /**
  * At the start of the animation the dot
  * has an opacity of .2
  */
  0% {
    opacity: .2;
  }
  /**
  * At 20% the dot is fully visible and
  * then fades out slowly
  */
  20% {
    opacity: 1;
  }
  /**
  * Until it reaches an opacity of .2 and
  * the animation can start again
  */
  100% {
    opacity: .2;
  }
}

.process span {
  /**
  * Use the blink animation, which is defined above
  */
  animation-name: blink;
  /**
  * The animation should take 1.4 seconds
  */
  animation-duration: 1.4s;
  /**
  * It will repeat itself forever
  */
  animation-iteration-count: infinite;
  /**
  * This makes sure that the starting style (opacity: .2)
  * of the animation is applied before the animation starts.
  * Otherwise we would see a short flash or would have
  * to set the default styling of the dots to the same
  * as the animation. Same applies for the ending styles.
  */
  animation-fill-mode: both;
}

.process span:nth-child(2) {
  /**
  * Starts the animation of the third dot
  * with a delay of .2s, otherwise all dots
  * would animate at the same time
  */
  animation-delay: .2s;
}

.process span:nth-child(3) {
  /**
  * Starts the animation of the third dot
  * with a delay of .4s, otherwise all dots
  * would animate at the same time
  */
  animation-delay: .4s;
}

#side_popup {
  display:none;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  height: 750px;
  width: 780px;
  z-index: 2;
  float: right;
}

#chart_div {
  height: 500px;
  width: 750px;
  margin: 0;
}
