<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
</head>

<body data-spy="scroll">
  <div class="container">
    <!-- <img src="./home/resources/m.jpg" class="img-fluid" id ="home_image" alt="Responsive image" width: 100%\9; > -->
    <div id="bg" class="hero-text">
      <div class="scroll">
        <h1>The ELIPPSS Crew</h1>
        <p>This project is the result of an extensive group collaboration. The seven teams depended on one another by providing data and metadata, maintaing delivery deadlines and helping eachother out in the field. The following section provides short insight into the individial team's work.</p>
        <div id="teamDiv" id="projectManagement" class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Project Management</h2>
              <p>The project management group had the responsibility to coordinate, evaluate, monitor and provide assistance to the other groups. This included the initial task of evaluating the groups' needs, time management to fulfill the course deadlines and the
                final report submission. The organization of communication platforms like <a href="https://trello.com/" target="_blank">Trello</a>, <a href="https://slack.com" target="_blank">Slack</a> and <a href="https://www.google.com/drive/" target="_blank">Google Drive</a> helped ensure deadlines were maintained and communication among the different groups ran smoothly</p><br>
              <strong>Contact: <br> <a target="_blank" href="https://www.linkedin.com/in/dununes/">Duarte Nunes</a> (dnunespro@gmail.com), Karlmarx Thangamani (karlmarx.95@gmail.com), Kirubamohan Nanjappan (nkirubamohan@gmail.com), Harini Ravi (harinirk.lsr@gmail.com)</strong>
            </div>
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/ProManTemp.jpg" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
          </div>
        </div>
        <div id="teamDiv" id="sensorPlatforms" class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/platformsGroup.jpg" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
            <div class="col-md-6">
              <h2>Sensor Platforms</h2>
              <p>Sensor and platform group was responsible for all the tasks required for the collection of field data using UAV. The main tasks included the selection of appropriate sensors and their integration with the chosen platform, flight planning,
                UAV setup, sensor setup, establishment of control points, etc. Besides this there were some intermediate tasks such as 3D printing to mount the sensors to UAV gimbal, data management and data distribution.</p><br>
              <strong>Contact: <br> <a target="_blank" href="https://www.linkedin.com/in/er-eliza-shrestha/">Eliza Shrestha</a> (crestaeliza@gmail.com),
                Jonas Meyer(jimmythanks78@gmail.com), <a target="_blank" href="https://www.linkedin.com/in/kushalsharma322/">Kushal Sharma</a> (kushalsharma322@gmail.com), Vanesa Perez Sancho (al378405@uji.es)</strong>
            </div>
          </div>
        </div>
        <div id="teamDiv" id="lidar" class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>LiDAR</h2>
              <p>LiDAR team's main goal was to develop a strategy to deal with the available equipment to generate highly accurate 3D models (DEM and DSM) for the project’s study area. The focus lay mostly on an approach to work with a low-cost LiDAR scanner
                (provided by <a href="http://scanse.io/" target="_blank">Sweep</a>) on the outdoor environment. Since the scanner was designed for indoor data capturing, its capabilities were pushed forward to generate a solution for integrating it in
                the landscape monitoring process. The final products are: merged and classified LAS point clouds and georeferenced DEM and DSM. The products were passed on to the ESRI cloud group for processing and storing.</p><br>
              <strong>Contact: <br> <a target="_blank" href="https://www.linkedin.com/in/manuelmendoza1/">Manuel Mendoza</a> (ifmendozar@gmail.com), Mitzi Vidal (mitzividal10@gmail.com), <a target="_blank" href="https://www.linkedin.com/in/stefana-cioban-650bb810b/">Stefana Cioban</a> (stefanacioban@yahoo.com), Laxmi Thapa (thapalaxmi278@gmail.com)</strong>
            </div>
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/lidar.jpg" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
          </div>
        </div>
        <div id="teamDiv" id="SenseBox" class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/senseBoxTemp.png" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
            <div class="col-md-6">
              <h2>SenseBox</h2>
              <p>The senseBox group takes its name from the <a target="_blank" href="https://www.sensebox.de">SenseBox</a> project developed by the Institute for Geoinformatics in the University of Münster. “The senseBox is a do-it-yourself kit for stationary
                and mobile sensor stations”. The SenseBox group used the senseBox to build different kind of sensors to monitor the environmental quality of the river Aa study area. The sensors built were: a stationary <a href="./home/resources/UASgroups/SenseBox/weather.html" target="_blank">weather logger</a>, a stationary <a href="./home/resources/UASgroups/SenseBox/wl.html" target="_blank">water level
                logger</a>, a mobile <a href="./home/resources/UASgroups/SenseBox/aq.html" target="_blank">air quality logger</a> mounted on a drone, and a mobile <a href="./home/resources/UASgroups/SenseBox/pH.html" target="_blank">pH</a> and <a href="./home/resources/UASgroups/SenseBox/temp.html" target="_blank">water temperature logger</a>.</p><br>
              <strong>Contact: <br> <a target="_blank" href="https://www.linkedin.com/in/manvel-khudinyan-1aa99174/">Manvel Khudinyan</a> (m_khud01@uni-muenster.de), <a target="_blank" href="https://www.linkedin.com/in/fabian-perotti-00aab22a/">Fabian Perotti</a> (al376286@uji.es), Hafiza Asma Naseer (asma.naseer1993@gmail.com), <a target="_blank" href="https://www.linkedin.com/in/lorena-abad-crespo-b494a576/">Lorena Abad</a> (lore.abad6@gmail.com)</strong>
            </div>
          </div>
        </div>
        <div id="teamDiv" id="imageAnalysis" class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Image Analysis</h2>
              <p>Provision of meaningful spatial products and services is integral in process of monitoring the conservation and renaturation of the environment. This project group aimed to analyze cost efficient and high spatial resolution images acquired by
                using unmanned aerial systems to understand the process of renaturation of Aa river near Münster, Germany. Among the generated products were: DSM, Orthorectified multiespectral image, orthophoto, NDVI, cloud points, 3d-mesh and image classification. This
                set of products was shared with Esri and Web group. Click <a target="_blank" href="./home/resources/UASgroups/ImageAnalysis/ImAnR.html">here</a> for more details about this group's work.</p><br>

                <strong>Contact:<br> <a target="_blank" href="https://www.linkedin.com/in/william-martinez-12453755/">William Martinez</a> (willimarti2008@gmail.com)
                  <a target="_blank" href="https://www.linkedin.com/in/ncodemus-nyamari-32478a41/"></a> Nicodemus Nyamari (nicnri@yahoo.com)
                  Tamene Gelaye (tamenes21@gmail.com)</strong>
            </div>
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/imageAnalysis.jpeg" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
          </div>
        </div>
        <div id="teamDiv" id="esriCloud" class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/esriCloudf.jpg" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
            <div class="col-md-6">
              <h2>ESRI cloud</h2>
              <p>The ESRI Cloud Group's main goal was to create web applications to visualize 2D and 3D data using the ESRI Commercial Platform’s products, namely ArcGIS Pro, ArcMap, Collector for ArcGIS and ArcGIS Online. Tasks were closely related to the
                data acquirement by other groups using a geodatabase, producing vector and raster data visualizations (both 2D and 3D), sharing the outputs in the Web Portal, sharing feature classes with field collaborators to collect and store data
                using the app Collector for ArcGIS, giving data access to the Webteam according to the WMS protocol, and designing and customizing the 2D and 3D ArcGIS web applications.</p>
                <strong>Contact: <br> <a target="_blank" href="https://www.linkedin.com/in/renan-barroso/">Renan Barroso</a> (renan.brso@gmail.com), <a target="_blank" href="https://www.linkedin.com/in/dennypalinggi/">Denny Palinggi</a> (denny.palinggi@gmail.com), <a target="_blank" href="https://www.linkedin.com/in/asanga-nicholas-azenui-550502a8/">Nicholas Asanga</a> (asanga.nicholas@yahoo.com)
                </strong>
            </div>
          </div>
        </div>
        <div id="teamDiv" id="webPortal" class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Web Portal</h2>
              <p>The purpose of the Web Portal group was to develop this web-platform in which the obtained data of the project and related information is presented to the public. Allowing the exploratory visualization, interaction with several products.
                There were no restrictions concerning the technologies used and the features implemented as long as the generated data was displayed and accessible in a user friendly, efficient way. The web technologies included in the portal development
                were mainly Javascript, HTML, CSS, AngularJS, Leaflet. The data displayed on the map are mostly WMS layers stored in the ESRI cloud, which was managed by the ESRI cloud group.</p><br>
              <strong>Contact: <br>Ang Dawa Sherpa (angsherpa232@gmail.com), Daniel Marsh-Hunn (al373405@uji.es), Fana Gebremeskel (fani06mit@gmail.com),
                      Matheus S. Barros (matheus.eco.2010@gmail.com)
              </strong>
            </div>
            <div class="col-md-6">
              <div class="centerBlock">
                <img src="./home/resources/webTeamf.jpg" alt="Couldn't load image" style="padding-top: 30px">
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

</html>
