<footer height="10px" class="fixed-bottom bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="centerBlock">
          <p class="copyright">Created by ELIPSS <a href="#about_us">Web Team</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="centerBlock">
          <p class="copyright">Follow us on <a target="_blank" class="icon fa fa-github" aria-hidden="true" href="https://github.com/angsherpa232/UAS_web2018"></a></p>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="centerBlock">
          <p class="copyright">Follow us on <a target="_blank" href="https://github.com/angsherpa232/UAS_web2018">GitHub</a></p>
        </div>
      </div> -->
    </div>
  </div>
</footer>
