<div class="navbar navbar-expand-md fixed-bottom bg-dark">
    <div class="row">
      <!-- <p class="copyright">© 2018 UAS Web Crew, All rights reserved</p> -->
      <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2018 UAS Web Crew, All rights reserved
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <!-- <p >Web Design & Development UAS Web Crew</p> -->
        </div>
      </div>
  </div>
</div>
