<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>UAS2018_home</title>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">EnviroDrone</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" class="active"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#/map">Raster</a></li>
          <!-- <li><a href="#/3D">Point Cloud</a></li> -->
          <li class="nav-item"><a class="nav-link" href="#/sensor">Ground Sensors</a></li>
          <li class="nav-item"><a class="nav-link" href="#/processing">Processing</a></li>
        </ul>
        <div>
          <a class="nav-item" href="#/login">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</body>

</html>
