<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>UAS2018_home</title>
</head>

<body>
  <div class="container">
    <div id="bg" class="hero-text">
      <h1>ELIPPSS Portal</h1>
      <p>Welcome to <strong>ELIPPSS</strong>. This web portal provides visualization and processing tools for data created during the Unmanned Aerial Systems class in spring 2018, held at the <a target="_blank" href="https://www.uni-muenster.de/Geoinformatics/en/">Institute for Geoinformatics</a>        in the University of Münster. The course was held by <a target="_blank" href="https://www.uni-muenster.de/OekologischePlanung/en/team/lehmann.html">Professor Jan Lehmann</a>,
        <a target="_blank" href="https://www.uni-muenster.de/IVVgeo/dieivv/mitarbeiter/prinz.html">Professor Torsten Prinz</a> and <a target="_blank" href="https://www.uni-muenster.de/Geoinformatics/institute/staff/index.php/55/Sergey_Mukhametov">Professor Sergey Mukhametov</a>.</p>
      <div class="row" style="padding-bottom: 50px;">
        <div class="col-md-6">
          <p class="homeText">The main objective of the project was the development and application of exploratory approaches using several geoespatial technologies to monitor the renaturation process in the Aa River, located in city of Münster, Germany.<br><br> The data
            displayed is a result of extensive joint work. Our class was divided in multiple project groups: <strong>E</strong>sri Cloud, <strong>L</strong>idar, <strong>I</strong>mage Analysis, <strong>P</strong>roject Management, Web <strong>P</strong>ortal, <strong>S</strong>ensor
            Platforms, and <strong>S</strong>enseBox. More information regarding individual group objectives can be found <a href="#/about_us">here</a>.</p>
        </div>
        <div class="col-md-6">
          <div class="centerBlock">
            <img src="./home/resources/drone.jpg" alt="Can't load image...">
            <p style="font-size: 15px; text-align: center;">The md4-1000 UAV from <a target="_blank" href="https://www.microdrones.com/en/">Microdrones</a> used in this project</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h1>Renaturating the Aa River</h1>
        <p>In recent decades greater awareness for the sensitivity and the importance of river ecosystems by trans-national governmental institutions from national to local level lead to a plan to initiate the renaturation of rivers under the European Union water policies entitled: EU Water
          Framework Directive (WFD) with “good quantitative status” and “good chemical status” of all rivers until 2023. <br> <br> <br> Major challenges that rivers and lakes in Europe face are grouped into: water availability and supply challenges, water quality
          issues, structural changes to and physical modifications of rivers and lakes (EU, 2016). In 2008 the municipal government of Münster authorised the renaturation of the Aa river, which flows through the city. These renaturation measures will help restore
          a section of the Aa to its natural state. <br> <br> Monitoring and exploratory approaches to assess the effects on vegetation and hydromorphological quality such as river bank structure, river continuity and/ or substrate of the
          river bed, turned out to be a suitable and assertive opportunity to gain knowledge by using geospatial technologies in a practical context.<br><br> For more information about water body renaturation please visit <a target="_blank" href="http://ec.europa.eu/environment/water/index_en.htm">http://ec.europa.eu/environment/water</a> and <a target="_blank" href="https://publications.europa.eu/en/publication-detail/-/publication/4890db5a-ddc9-4181-9d39-8a277faef30b">https://publications.europa.eu</a>.
        </p>
        <br> <br>
        <div class="col-md-6">
          <h4 style="text-align: center;">The study area in 2006...</h4>
          <div class="centerBlock">
            <img src="./home/resources/Aa2006f.jpg" alt="Can't load image...">
          </div>
        </div>
        <!-- <div class="col-md-4">
          <h4 style="text-align: center;">...in 2010...</h4>
          <div class="centerBlock">
            <img src="./home/resources/Aa2010f.jpg" alt="Can't load image...">
          </div>
        </div> -->
        <div class="col-md-6">
          <h4 style="text-align: center;">...and in 2017</h4>
          <div class="centerBlock">
            <img src="./home/resources/Aa2017f.jpg" alt="Can't load image...">
          </div>
        </div>
      </div>
      <div class="row" style="padding-bottom: 50px;">
        <div class="col-md-12">
          <p style="font-size: 15px; text-align: center;">Imagery from <a target="_blank" href="https://www.google.com/earth/">Google Earth</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
