<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>UAS2018_home</title>
</head>

<body>
  <div class="container">
    <!-- <img src="./home/resources/m.jpg" class="img-fluid" id ="home_image" alt="Responsive image" width: 100%\9; > -->
    <div id="bg" class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h1>ELLIPSE Portal</h1>
            <br>
            <p>Welcome to our <strong>ELLIPSE</strong> portal project.<br> <br>
              This web portal provides visualization and processing tools for data created during the Unmanned Aerial Systems class in spring 2018, held at the <a target="_blank" href="https://www.uni-muenster.de/Geoinformatics/en/">Institute for Geoinformatics</a> in the University of Münster under the guidance of <a target="_blank" href="https://www.uni-muenster.de/OekologischePlanung/en/team/lehmann.html">Professor Jan Lehmann</a>,
            <a target="_blank" href="https://www.uni-muenster.de/IVVgeo/dieivv/mitarbeiter/prinz.html">Professor Torsten Prinz</a> and <a target="_blank" href="https://www.uni-muenster.de/Geoinformatics/institute/staff/index.php/55/Sergey_Mukhametov">Professor Sergey Mukhametov</a>.<br><br>
             The main objective of the project was the development and application of
              exploratory approaches using several geoespatial technologies to monitor the renaturation process in the Aa River, located in city of Münster, Germany.
              <br><br>
              The data displayed is a result of extensive joint work. Our class was divided in multiple project groups: Esri Cloud, Sense&Box, Image Analysis, Sensors and Platforms, Lidar, Project Management, Web Portal. More information regarding individual group objectives
              can be found <a href="#/about_us">here</a>.</p>
          </div>
          <!-- <div class="col-md">
            <img src="./home/resources/m.JPG" alt="Can't load image..." style="height: 100%; width:100%">
          </div> -->
        </div>
      </div>
      <!-- <img src="./home/resources/m.jpg" alt="">
      <div id="nav1">
        <div class="hero-text">
          <h1>UAS Web Portal</h1>
          <p><img src="./home/resources/m.jpg" align="right" width="550px" height="399px"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>

          </br>
        </div>
      </div>-->
    </div>
    <!-- <p>This is the home page and we will be updating info here soon....</p><br>
    <input type="text" placeholder="Type something here." ng-model="test" />
    <h1>{{test}}</h1> -->
  </div>
</body>

</html>
