<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>UAS2018_home</title>
</head>

<body>
  <div class="container">
    <!-- <img src="./home/resources/m.jpg" class="img-fluid" id ="home_image" alt="Responsive image" width: 100%\9; > -->
    <div id="bg" class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h1>Ellipse Portal</h1>
            <p>Welcome to our <strong>Ellipse</strong> portal project.<br> This web portal intends to provide visualization and processing tools for public users, from our processed information. The main objective of develop project was the application and develop
              exploratory approaches using several geoespacial technologies, to monitor renaturation process in the Aa River, located in city of Munster, Germany. We took part of the Unmanned Aerial Systems for Applied Research Summer Semester Course
              2018, held in the University of Munster - <a target="_blank" href="https://www.uni-muenster.de/Geoinformatics/en/">Institute for Geoinformatics</a> under the guidance of <a target="_blank" href="https://www.uni-muenster.de/OekologischePlanung/en/team/lehmann.html">Professor Jan Lehmann</a>,
              <a target="_blank" href="https://www.uni-muenster.de/IVVgeo/dieivv/mitarbeiter/prinz.html">Professor Torsten Prinz</a> and <a target="_blank" href="https://www.uni-muenster.de/Geoinformatics/institute/staff/index.php/55/Sergey_Mukhametov">Professor Sergey Mukhametov</a>. The information displayed is a result of a extensive joint work, since our class was divided in several groups: Esri Cloud, Sense&Box, Image Analysis, Sensors and Platforms, Lidar, Project Management, Web Portal. More information regarding each group objectives
              can be found <a target="_blank" href="https://uas2018.herokuapp.com/#/about_us">here</a>.</p>
          </div>
          <div class="col-md">
            <img src="./home/resources/m.JPG" alt="Can't load image..." style="height: 100%; width:100%">
          </div>
        </div>
      </div>
      <!-- <img src="./home/resources/m.jpg" alt="">
      <div id="nav1">
        <div class="hero-text">
          <h1>UAS Web Portal</h1>
          <p><img src="./home/resources/m.jpg" align="right" width="550px" height="399px"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>

          </br>
        </div>
      </div>-->
    </div>
    <!-- <p>This is the home page and we will be updating info here soon....</p><br>
    <input type="text" placeholder="Type something here." ng-model="test" />
    <h1>{{test}}</h1> -->
  </div>
</body>

</html>
