<div id="sidebar">
  <div id="CheckboxDIV"></div>
  <div id="RadioDIV"></div>
  <div id="chart_div"></div>
</div>

<div id="map"></div>
<div id="legendDiv" class="row" >
  <div class="col-md-5">
    <div id="legend" style="display:inline-block">
      <h4>Layer Info</h4>
      <select ng-init="selectedLayer = layerNames[0]" ng-model="selectedLayer" ng-options="layer for layer in layerNames" ng-change=onChange() >
        <!-- <option value="" selected hidden>{{dropdown.defaultValue}}</option> -->
        <!-- <option value="" ng-selected="selected" disabled>Whatever</option> -->
      </select>
      <div ng-model="lDescription" >
          <div class="row" >
            <div class="col-sm-8" >
              <p class="legendText">{{layerDescription}}</p>
            </div>
            <div class="col-sm-4" class="centerBlock" >
              <img id="legendImage" src="" alt="">
            </div>
            <!-- <div class="col-md-6">
              <img id="legendImage" src="" alt="">
            </div> -->

          </div>
        <!-- <p>{{layerDescription}}</p> -->
      </div>
    </div>
  </div>
</div>
