<div id="sidebar">
  <div id="CheckboxDIV">
    <input type="checkbox" class="cb_chart_var" id="cb_temp" name="Temperature" value="1" checked>
    <label for="cb_temp">Temperature</label>
    <input type="checkbox" class="cb_chart_var" id="cb_humid" name="Relative Humidity" value="2" checked>
    <label for="cb_humid">Relative Humidity</label>
  </div>
  <div id="chart_div"></div>
</div>
<div id="map"></div>
<div class="row" style="padding-left: 50px; padding-top: 500px">
  <div class="col-md-6">
    <div id="legend">
      <h4>Legend</h4>
      <select ng-model="selectedLayer" ng-options="layer for layer in layerNames" ng-change=onChange()>
        <option value="" selected hidden>Choose layer legend</option>
      </select>
      <div ng-model="lDescription">
        <img id="legendImage" src="" alt="">
        <p>{{layerDescription}}</p>
      </div>
    </div>
  </div>
</div>
