<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OAuth</title>

      </head>
  <body>
    <div class="container">
      <img src="./home/resources/m.jpg" class="img-fluid" id ="home_image" alt="Responsive image" width: 100%\9; >
      <div id="bg" class="hero-text">
        <div class="container">
          <div class="row">
            <h1 class="process" >Under construction <span>.</span><span>.</span><span>.</span></h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->

<div id="sidebar">
  <div id="CheckboxDIV">
  </div>
  <div id="chart_div"></div>
</div>



<div class="container">
  <div class="row">
    <div id='map' class="col-md-12"></div>
    <div id='process_input'>
  <label for='buffer'>Buffer (meter)</label>
  <input type='number' id='buffer' name='buffer' placeholder='Eg: 0.003' ng-init="_value='btn btn-primary disabled'" ng-model="buffer_radius" ng-change="bufferFunction()"></input>
  <button type="button" id="buffer_button" class="{{_value}}" ng-click="executeBuffer()">Execute</button>
</div>
    </div>
  </div>
