html, body{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

h1,h2,h3{
  margin: 0;
}

#map {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 48px;
  left:0;
}


#menu-bar{
  background: #a1d99b;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

main{
  background: #eee;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
}
